@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    line-height: 1.25;
    max-width: 8.5in; /* Standard paper width */
    margin: 0 auto;
    padding: 20px;
    color: #000000;
    font-size: 9pt;
}

@media print {
    body {
        padding: 0px;
    };
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header > h1 {
    font-size: 14pt;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: bold;
}

header p {
    margin: 5px 0;
    font-style: italic;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
    font-size: 9.2pt;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.section-title {
    font-size: 10pt;
    text-transform: uppercase;
    font-family: 'Arimo';
    font-variation-settings: 'wght' 700, 'wdth' 100;
    letter-spacing: 0.25px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    /* padding-bottom: 1px; */
}

.section-list {
    @apply ml-1;
}


.item-title {
    font-weight: bold;
    font-size: 9.5pt;
}

.item-sub-title {

}

.item-content {
    @apply ml-3;
}

.section {
    @apply mb-2 last:mb-0
}

/* Project styling */
.project {
    @apply mb-2 last:mb-0;
}

@media print {
    .project {
      break-inside: avoid;
    }
  }

.project-title a {
    color: #000;
    text-decoration: none;
}

.project-title a:hover {
    text-decoration: underline;
}

.item-date, .education-item-date {
    font-variation-settings: 'wght' 400, 'wdth' 100;
    font-size: 11.5px;
    letter-spacing: 0.2px;
}

.education-item-date {
    font-variation-settings: 'wght' 600, 'wdth' 100;
}

.work-item-position {
    font-variation-settings: 'wght' 450, 'wdth' 100;
}

.item-location {
    font-variation-settings: 'wght' 400, 'wdth' 100;
    font-size: 11.5px;
    letter-spacing: 0.2px;
    /* @apply mb-[1px]; */
}

.project-tech {
    font-variation-settings: 'wght' 500, 'wdth' 80;
    text-transform: uppercase;
    font-size: 9.8px;
    letter-spacing: 0.5px;
    font-family: 'Noto Sans Mono';
    color: rgba(0, 0, 0, 0.908);
    @apply mb-[1px];
}

.project ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.project li {
    margin-bottom: 3px;
}

/* Icon for project links */
.link-icon {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    display: inline-block;
}

/* Skills section */
.skill-group {
    @apply mb-[4px] last:mb-0
}

.skill-keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.keyword {
    padding: 2px 4px;
    font-family: 'Noto Sans Mono';
    font-size: 11px;
    white-space: nowrap;
}

/* Work experience section */
.work-item {
   @apply mb-1 last:mb-0;
}

li > strong {
    font-family: 'Arimo';
    font-variation-settings: 'wght' 600;
}

.work-item p {
    margin: 3px 0;
}

.education-item-header {
    margin: 8px 0 4px 0;
}

/* Education section */
.education-item {
    @apply mb-[4px] last:mb-0
}

.education-item p {
    margin: 3px 0;
}



/* Certificates section */
ul {
    margin: 5px 0;
    padding-left: 20px;
}

.item-content > ul > li {
    list-style-type: square;
    margin-bottom: 5px;
}

/* Simple utility class for small text */
.small {
    font-size: 10pt;
}